@{
    ViewBag.Title = "Contact";
}

<div style=" padding-top: 30px">
    <br />
    <table>
        <tr>
            <td>
                <h2>Contact Details</h2>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td rowspan="4"> <img src="~/Images/Saikumar.jpg" style="height:200px; width:250px; visibility:visible" /></td>
            <td style="text-align:left; width:400px;height:40%;padding-left:1%">
                <h3>Saikumar Nanjala</h3>
            </td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Contact: </span><span>+1 (813) 609-9795</span></td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Email Id: </span><a href="mailto:saikumar.nanjala@gmail.com">saikumar.nanjala@gmail.com</a></td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Linkedin: </span><a href="http://www.linkedin.com/in/saikumar-nanjala">http://www.linkedin.com/in/saikumar-nanjala</a></td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td rowspan="4"> <img src="~/Images/Rohith.jpg" style="height:200px; width:250px; visibility:visible" /></td>
            <td style="text-align:left; width:400px;height:40%;padding-left:1%">
                <h3>Rohith Movva</h3>
            </td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Contact: </span><span>+1 (813) 340-2610</span></td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Email Id: </span><a href="mailto:movvar@mail.usf.edu">movvar@mail.usf.edu</a></td>
        </tr>
        <tr>
            <td style="text-align:left; width:400px;height:20%;padding-left:1%"><span style="font-weight:bold">Linkedin: </span><a href="https://www.linkedin.com/in/rohith-movva-82901b7a/">https://www.linkedin.com/in/rohith-movva-82901b7a/</a></td>
        </tr>
    </table>
    </div>