@{
    ViewBag.Title = "Home";
}
<br />
<div class="jumbotron">
    <table>
        <tr>
            <td>
                <h1>Sports Aggregator</h1>
                <p class="lead"> Browse IT.... We have IT....</p>
                <p class="lead"> &quot;Click on the image of respective sport for basic information about it.&quot; </p>
            </td>
        </tr>
    </table>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Cricket</h2>
        <input id="Cricket" type="image" src="~/Images/Cricket.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Cricket'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>Football</h2>
        <input id="Football" type="image" src="~/Images/Football.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Football'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>BasketBall</h2>
        <input id="BasketBall" type="image" src="~/Images/Basketball.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Basketball'" height="300" width="300" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tennis</h2>
        <input id="Tennis" type="image" src="~/Images/Tennis.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Tennis'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>Baseball</h2>
        <input id="Baseball" type="image" src="~/Images/Baseball.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Baseball'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>Hockey</h2>
        <input id="Hockey" type="image" src="~/Images/Hockey.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Hockey'" height="300" width="300" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Badminton</h2>
        <input id="Badminton" type="image" src="~/Images/Badminton.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Badminton'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>VolleyBall</h2>
        <input id="Volleyball" type="image" src="~/Images/Volleyball.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Volleyball'" height="300" width="300" />
    </div>
    <div class="col-md-4">
        <h2>Golf</h2>
        <input id="Golf" type="image" src="~/Images/golf.jpg" onclick="location.href='https://en.wikipedia.org/wiki/Golf'" height="300" width="300" />
    </div>
</div>