@{
    ViewBag.Title = "Error";
}
<br />
<div class="row" style="padding-top:100px;text-align:center;">
    <h2 style="text-align:center">An error occured, please follow the instructions as mentioned in About page.</h2>
</div>
