@{
    ViewBag.Title = "Users Tickets";
}


<div class="row" style="padding-top:100px;text-align:center;">
    <div class="col-md-15">

        <a href="@Url.Action("Players","Users")" class="btn btn-primary btn-lg" formnovalidate> Players </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("Tournaments","Users")" class="btn btn-primary btn-lg" formnovalidate> Tournaments </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("Tickets","Users")" class="btn btn-primary btn-lg" formnovalidate> Tickets </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("Posts","Users")" class="btn btn-primary btn-lg" formnovalidate> Posts </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

    </div>
</div>

<div class="row" style="margin-left:2%; text-align:center">
    <h2 style="text-align:center">This Page has nothing related to grading schema, but in future we can develop this page for providing the Ticket vendor details to users.</h2>
</div>

